body{
  background-color: silver;
  color: black;
  padding: 20px;
  font-family:Impact;}
h1{
  background-color: rgb(185,179,175);
  font-family:Georgia;
  color:white;}
/*
.bio{
  background-color: white;
  border: 1px solid #665544;
  font-family:Georgia;
  color:black;}
*/
