body{
  background-color: silver;}
h1{
  background-color: rgb(185,179,175);
  padding: 50px;
  font-family:Impact;
  color:white;}
.bio{
  background-color: white;
  border: 1px solid #665544;
  font-family:Georgia;
  color:black;}
