body{
      background-color: whitesmoke;
      color: black;
      padding: 20px;
      resize: both;
      overflow: auto;}
p.title{
      background-image: linear-gradient(to bottom right, sienna, saddlebrown, maroon);
      border: 4px solid #FFFFFF;
      margin-left: 25px;
      margin-right: 25px;
      margin-top: 5px;
      margin-bottom: 5px;
      padding: 20px;
      font-family: Garamond;
      color: white;
      font-size: 200%;
      text-align: center;}
p.link{
      margin-left: 25px;
      margin-right: 25px;
      margin-top: 5px;
      margin-bottom: 5px;
      font-family: Bookman;
      padding: 5px;
      font-size: 133%;
      text-align: center;}
a{
      color: black;
      text-decoratioon: none;}
.bio{
      margin: 25px;
      background-color: white;
      border: 1px solid #665544;
      font-family: Georgia;
      font-size: 100%;
      color: black;
      height: 350px;
      padding: 10px;}
img.selfie{
      float: right;
      margin-left: 10px;
      max-width: 25%;
      max-height: 25%;}
